h1,h3 {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}

h3 {
    color: grey;
}

.jumbotron {  
    background-color: transparent !important;
    color: black;
}

.fade-in {
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}

.header {
    position: relative;
}

.header::before {
    content: "";
    background-image: url("../suits.jpg");
    background-size: cover;
    position: absolute;
    opacity: 0.75
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }